.suscribir{
	background: url(images/bg-1.png);
	background-size: cover;
	background-position: center;
	height: 400px;
}
.btn{
	background-color: #96A5F1;
	padding: 0.3em;
	color: #000000;
	border-radius: 9px;
	transition: 0.3s;
}
.btn:hover{
	transform: scale(1.2);
	background-color: #0601D1;
	color: white;
}